In [12]:
from sqlalchemy import create_engine
server = "localhost"
database = "master"
driver = "ODBC Driver 17 for SQL Server"
engine = create_engine(f"mssql+pyodbc://{server}/{database}?Trusted_Connection=yes&driver={driver}")

with engine.connect() as connection:
    print(f"Successfully connected to {database} on server {server}")

Successfully connected to master on server localhost

In [15]:

# Skapa databasen med autocommit
with engine.connect().execution_options(isolation_level="AUTOCOMMIT") as connection:
    connection.execute(text("CREATE DATABASE Bokhandel;"))
    print("Databasen 'Bokhandel' är nu skapad!")

Databasen 'Bokhandel' är nu skapad!

In [16]:
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey, CHAR, text
from sqlalchemy.orm import sessionmaker, declarative_base, relationship

# Anslut till databasen med begränsade rättigheter
engine = create_engine(
    "mssql+pyodbc://Bokhandel:Bokhandel123@localhost/Bokhandel?driver=ODBC+Driver+17+for+SQL+Server&Encrypt=no"
)
Session = sessionmaker(bind=engine)
session = Session()

Base = declarative_base()

# Datamodeller
class Böcker(Base):
    __tablename__ = 'Böcker'
    ISBN13 = Column(CHAR(13), primary_key=True)
    Titel = Column(String)

class Butiker(Base):
    __tablename__ = 'Butiker'
    ButikID = Column(Integer, primary_key=True)
    Butiksnamn = Column(String)  

class LagerSaldo(Base):
    __tablename__ = 'LagerSaldo'
    ButikID = Column(Integer, ForeignKey('Butiker.ButikID'), primary_key=True)
    ISBN13 = Column(CHAR(13), ForeignKey('Böcker.ISBN13'), primary_key=True)
    Antal = Column(Integer)
    butik = relationship('Butiker')
    bok = relationship('Böcker')

def sök_böcker():
    try:
        # Säker inmatning
        search_term = input("Ange sökord för boktitel: ")
        
        # Använd parametriserad fråga med text()
        sql_query = text("""
            SELECT 
                b.ISBN13, 
                b.Titel, 
                bu.Butiksnamn, 
                ISNULL(ls.Antal, 0) AS Antal
            FROM 
                Böcker b
            LEFT JOIN 
                LagerSaldo ls ON ls.ISBN13 = b.ISBN13
            LEFT JOIN 
                Butiker bu ON bu.ButikID = ls.ButikID
            WHERE 
                b.Titel LIKE :search_pattern
            ORDER BY 
                b.Titel, bu.Butiksnamn
        """)
        
        # Använd pandas med parametriserad fråga
        df = pd.read_sql(sql_query, engine, params={"search_pattern": f"%{search_term}%"})
        
        if df.empty:
            print("Inga böcker hittades.")
            return
        
        # Skapa en pivottabell för att visa antal per butik
        pivot_df = df.pivot_table(
            index=['ISBN13', 'Titel'], 
            columns='Butiksnamn', 
            values='Antal',
            fill_value=0
        ).reset_index()
        
        # Lägg till en kolumn för totalt antal
        butiker = [col for col in pivot_df.columns if col not in ['ISBN13', 'Titel']]
        pivot_df['Totalt antal'] = pivot_df[butiker].sum(axis=1)
        
        # Visa resultatet
        print(pivot_df.to_string(index=False))
        
    except Exception as e:
        print(f"Ett fel uppstod: {e}")
    finally:
        session.close()

# Kör programmet
if __name__ == "__main__":
    sök_böcker()

       ISBN13            Titel  Bokhörnan  Läslyckan  Totalt antal
9789129707488 Pippi Långstrump        0.0        5.0           5.0

La även till denna för att kunna köra "FlyttaBok" direkt. Skall sägas att det är med en del hjälp med att få den att fungera.

In [7]:
from sqlalchemy import create_engine, text
import pandas as pd

# Anslut till Bokhandel-databasen
server = "localhost"
database = "Bokhandel"
driver = "ODBC Driver 17 for SQL Server"
engine = create_engine(f"mssql+pyodbc://{server}/{database}?Trusted_Connection=yes&driver={driver}&TrustServerCertificate=yes")

# Funktion för att visa tillgängliga böcker
def visa_bocker():
    with engine.connect() as connection:
        query = """
        SELECT B.ISBN13, B.Titel, F.Förnamn + ' ' + F.Efternamn AS Författare, B.Pris
        FROM Böcker B
        JOIN Författare F ON B.FörfattarID = F.FörfattarID
        ORDER BY B.Titel
        """
        df = pd.read_sql(query, connection)
        return df

# Funktion för att visa lagersaldo
def visa_lagersaldo():
    with engine.connect() as connection:
        query = """
        SELECT L.ButikID, B.Butiksnamn, L.ISBN13, BK.Titel, L.Antal
        FROM LagerSaldo L
        JOIN Butiker B ON L.ButikID = B.ButikID
        JOIN Böcker BK ON L.ISBN13 = BK.ISBN13
        ORDER BY B.Butiksnamn, BK.Titel
        """
        df = pd.read_sql(query, connection)
        return df

# Funktion för att visa butiker
def visa_butiker():
    with engine.connect() as connection:
        query = "SELECT ButikID, Butiksnamn, Ort FROM Butiker ORDER BY Butiksnamn"
        df = pd.read_sql(query, connection)
        return df

# Funktion för att flytta böcker
def flytta_bok(butik_fran, butik_till, isbn, antal):
    with engine.connect() as connection:
        try:
            connection.execute(text(f"EXEC FlyttaBok @ButikID_Fran = {butik_fran}, @ButikID_Till = {butik_till}, @ISBN13 = '{isbn}', @Antal = {antal}"))
            connection.commit()
            print(f"Flyttade {antal} exemplar av bok med ISBN {isbn} från butik {butik_fran} till butik {butik_till}")
            return True
        except Exception as e:
            print(f"Ett fel uppstod: {e}")
            return False

# Huvudprogram
print("Tillgängliga butiker:")
butiker_df = visa_butiker()
display(butiker_df)

print("\nTillgängligt lagersaldo:")
lager_df = visa_lagersaldo()
display(lager_df)

# Be användaren om input
butik_fran = int(input("Ange ButikID att flytta från: "))
butik_till = int(input("Ange ButikID att flytta till: "))
isbn = input("Ange ISBN13 för boken som ska flyttas: ")
antal = int(input("Ange antal böcker att flytta: "))

# Utför flytten
if flytta_bok(butik_fran, butik_till, isbn, antal):
    # Visa uppdaterat lagersaldo
    print("\nUppdaterat lagersaldo:")
    ny_lager_df = visa_lagersaldo()
    display(ny_lager_df)

Tillgängliga butiker:

   ButikID   Butiksnamn        Ort
0        1    Bokhörnan  Stockholm
1        3  Bokpalatset       Lund
2        2    Läslyckan   Göteborg

Tillgängligt lagersaldo:

    ButikID   Butiksnamn         ISBN13                        Titel  Antal
0         1    Bokhörnan  9789174296168         En man som heter Ove      0
1         1    Bokhörnan  9789174295192          Gösta Berlings saga      4
2         1    Bokhörnan  9789113014104    Luftslottet som sprängdes      1
3         1    Bokhörnan  9789113014081        Män som hatar kvinnor      2
4         1    Bokhörnan  9789129676050                 Mio, min Mio      3
5         1    Bokhörnan  9789129707488             Pippi Långstrump      0
6         1    Bokhörnan  9781234567890            Svenska mysterier      3
7         3  Bokpalatset  9789174296519          Britt-Marie var här      4
8         3  Bokpalatset  9789174296410              Folk med ångest      5
9         3  Bokpalatset  9789174290999                    Jerusalem      2
10        2    Läslyckan  9789174296168         En man som heter Ove      7
11        2    Läslyckan  9789113014098  Flickan som lekte med elden      6
12        2    Läslyckan  9789113014104    Luftslottet som sprängdes      1
13        2    Läslyckan  9789129707488             Pippi Långstrump      5
14        2    Läslyckan  9782345678901               Sagor för barn      4

ValueError: invalid literal for int() with base 10: ''

In [15]:
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey, CHAR, text
from sqlalchemy.orm import sessionmaker, declarative_base, relationship

# Anslut till databasen med begränsade rättigheter
engine = create_engine(
    "mssql+pyodbc://Bokhandel:Bokhandel123@localhost/Bokhandel?driver=ODBC+Driver+17+for+SQL+Server&Encrypt=no"
)
Session = sessionmaker(bind=engine)
session = Session()

Base = declarative_base()

# Datamodeller
class Böcker(Base):
    __tablename__ = 'Böcker'
    ISBN13 = Column(CHAR(13), primary_key=True)
    Titel = Column(String)

class Butiker(Base):
    __tablename__ = 'Butiker'
    ButikID = Column(Integer, primary_key=True)
    Butiksnamn = Column(String)  

class LagerSaldo(Base):
    __tablename__ = 'LagerSaldo'
    ButikID = Column(Integer, ForeignKey('Butiker.ButikID'), primary_key=True)
    ISBN13 = Column(CHAR(13), ForeignKey('Böcker.ISBN13'), primary_key=True)
    Antal = Column(Integer)
    butik = relationship('Butiker')
    bok = relationship('Böcker')

def sök_böcker():
    try:
        # Säker inmatning
        search_term = input("Ange sökord för boktitel: ")
        
        # Använd parametriserad fråga med text()
        sql_query = text("""
            SELECT 
                b.ISBN13, 
                b.Titel, 
                bu.Butiksnamn, 
                ISNULL(ls.Antal, 0) AS Antal
            FROM 
                Böcker b
            LEFT JOIN 
                LagerSaldo ls ON ls.ISBN13 = b.ISBN13
            LEFT JOIN 
                Butiker bu ON bu.ButikID = ls.ButikID
            WHERE 
                b.Titel LIKE :search_pattern
            ORDER BY 
                b.Titel, bu.Butiksnamn
        """)
        
        # Använd pandas med parametriserad fråga
        df = pd.read_sql(sql_query, engine, params={"search_pattern": f"%{search_term}%"})
        
        if df.empty:
            print("Inga böcker hittades.")
            return
        
        # Skapa en pivottabell för att visa antal per butik
        pivot_df = df.pivot_table(
            index=['ISBN13', 'Titel'], 
            columns='Butiksnamn', 
            values='Antal',
            fill_value=0
        ).reset_index()
        
        # Lägg till en kolumn för totalt antal
        butiker = [col for col in pivot_df.columns if col not in ['ISBN13', 'Titel']]
        pivot_df['Totalt antal'] = pivot_df[butiker].sum(axis=1)
        
        # Visa resultatet
        print(pivot_df.to_string(index=False))
        
    except Exception as e:
        print(f"Ett fel uppstod: {e}")
    finally:
        session.close()

# Kör programmet
if __name__ == "__main__":
    sök_böcker()

       ISBN13                       Titel  Bokhörnan  Bokpalatset  Läslyckan  Totalt antal
9781234567890           Svenska mysterier        3.0          0.0        0.0           3.0
9782345678901              Sagor för barn        0.0          0.0        4.0           4.0
9789113014081       Män som hatar kvinnor        2.0          0.0        0.0           2.0
9789113014098 Flickan som lekte med elden        0.0          0.0        6.0           6.0
9789113014104   Luftslottet som sprängdes        1.0          0.0        1.0           2.0
9789129676050                Mio, min Mio        3.0          0.0        0.0           3.0
9789129707488            Pippi Långstrump        0.0          0.0        5.0           5.0
9789174290999                   Jerusalem        0.0          2.0        0.0           2.0
9789174295192         Gösta Berlings saga        4.0          0.0        0.0           4.0
9789174296168        En man som heter Ove        0.0          0.0        7.0           7.0
9789174296410             Folk med ångest        0.0          5.0        0.0           5.0
9789174296519         Britt-Marie var här        0.0          4.0        0.0           4.0